/* Styles go here */

body {
  font-family: arial;
}

#existing-tasks ul {
    list-style-type: none;
    padding: 0px;
}

#existing-tasks li.task {
  background-color: LightCyan;
  padding: 10px;
  border-radius: 4px;
  font-weight: bold;
}

#existing-tasks li.complete {
  background-color: lightgreen;
  border-color: green;
}

#existing-tasks li.task .glyphicon {
  cursor: pointer;
}

.task-name {
  cursor: pointer;
}
